@{
}
@model List<CustomerModel>

<div class="row">
    <div class="col-12">
        <a asp-controller="Customer" asp-action="Add" class="btn">Add new customer</a>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-12">
            <div style="float: left">@item.Name</div>
            <div style="float: left; padding-left: 5em;">@item.LastName</div>
            <div style="float: left; padding-left: 5em;">
                <a asp-action="Edit" asp-controller="Customer" asp-route-id="@(item.Id)">edit</a>
            </div>
            <div style="float: left; padding-left: 5em;">
                <a href="#" data-id="@(item.Id)" data-customer-name="@item.Name" data-bs-toggle="modal" data-bs-target="#deleteCustomerDialog">delete</a>
            </div>
            <div style="float: left; padding-left: 5em;">
                <a asp-action="UploadPhoto" asp-controller="Customer" asp-route-id="@(item.Id)">upload photo</a>
            </div>
            <div style="float: left; padding-left: 5em;">
                <a asp-action="Details" asp-controller="Customer" asp-route-id="@(item.Id)">Details</a>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="deleteCustomerDialog" tabindex="-1" aria-labelledby="deleteCustomerDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteCustomerDialogLabel">Delete customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete customer '<span id="customerName"></span>'?</p>
                <input id="elementId" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteElement()">Delete</button>
            </div>
        </div>
    </div>
</div>


@section NaviTitle
{
    <p>This is navi title for main page</p>
}

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            //alert('page is completely loaded');

            const deleteCustomerDialog = document.getElementById('deleteCustomerDialog');
            deleteCustomerDialog.addEventListener('show.bs.modal', event => {

                // Button that triggered the modal
                const button = event.relatedTarget;
                // Extract info from data-id attributes

                const id = $(button).attr('data-id');
                $('#elementId').val(id);

                const name = $(button).attr('data-customer-name');
                $('#customerName').html(name);
            });
        });

        function deleteElement() {
            var id = $('#elementId').val();

            $.ajax({
                url: '@Url.Action("Delete", "Customer")/' + id,
                type: 'DELETE',
                success: function (result) {
                    window.location = '@Url.Action("Index", "Customer")';
                },
                error: function (result) {

                    $('#deleteCustomerDialog').modal('hide');

                    if (result && result.responseJSON) {
                        alert(result.responseJSON.errorMessage);
                    }
                }
            });
        }
    </script>
}